.line {
    height: 6px;
    background-color: #009D66;
    margin-bottom: 6px;
    border-radius: 30px;
  }
  
  .first-line {
    margin-left: 0;
    margin-right: 0;
  }
  
  .second-line {
    margin-left: 60%;
    margin-right: 0;
  }
  
  .third-line {
    margin-left: 80%;
    margin-right: 0;
  }
  
  .line:hover {
    background-color: #00DC8F;
  }