@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@600&family=Poppins:wght@200&display=swap');

/* font-family: 'Anonymous Pro', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

.logo{
    height: 60px;
    margin-bottom: 30px;
}

.title-main{
    font-family: 'Anonymous Pro', monospace;
    color: white;
    font-size: 32px;
    margin-top: 15px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 10px;
}
  
.split-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    font-family: 'Inter', sans-serif;
    margin-right: 20px;
    border: none;
    color: white;
    background-color: transparent;
    height: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
  }  

.nav-button:hover {
    color: #00DC8F;
}